.location
{
   background-color:  rgb(235, 1, 52);
   position: absolute;
   left: 0px;
   /* top:75%; */
   margin-top: 5rem;
   width: 13em;
   border-radius: 0px 20px 20px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   height: 3rem;

}

.location p{
    margin-top: 1em;
}

.location i{
    font-size: 1.6rem;
    margin-right: 0.5em;
}