.location {
    background-color: rgb(235, 1, 52);
    position: absolute;
    left: 0px;
    width: 13em;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80%;
    color: white;
    height: 3rem;
    margin-top: 2rem;

}

.location p {
    margin-top: 1em;
}

.location i {
    font-size: 1.6rem;
    margin-right: 0.5em;
}

@media screen and (max-height:700px) and (max-width:400px) {
    .location {
        margin-top: 7rem;
    }
}