.panel {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 100%;
  margin-top: 50px;
}

.bar {
  width: 18px;
  height: 6rem;
  background-color: rgb(243, 6, 57);
}

.rule {

  visibility: hidden;
}

.left {
  display: flex;
  align-items: center;
  max-width: 50%;
  justify-content: space-between;
}

.text {


  color: rgb(40, 40, 100);
  font-weight: bolder;
  font-size: 2.5rem;
  padding-left: 0.5em;
  line-height: 2.8rem;
}

.right {
  display: flex;
  max-width: 50%;
  justify-content: flex-end;
  align-items: center;
  word-wrap: break-word;
  font-size: 1.2em;
  color: rgb(122, 102, 102);

}

@media only screen and (max-width:700px) {
  .panel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rule {
    visibility: visible;
    width: 60%;

  }
}

@media screen and (max-width:700px) {
  .panel {
    margin-top: 8rem;
  }

}