
.parent
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 2px solid gray; */
  /* position: absolute;
  left: 3em; */

}
.foodParent
{
    color: rgb(241, 232, 232);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9em;
    /* border: 2px solid rgb(8, 15, 8); */
    margin: 0 !important;
    padding: 0 !important;
}

.food
{
    /* border: 2px solid green; */
    line-height: 1em;
    font-size: 9em;
}


.sloganParent
{
    /* background-color: aqua; */
    color: rgb(40, 40, 100);
    font-weight: bolder;
    font-size: 3em;
    line-height: 3rem;
    margin-top: -4rem;
}

.searchParent {
    padding: 0.4rem;
   /* width: 25rem; */
    background: rgb(255 255 255);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1em;
}
    
 .search::-webkit-input-placeholder {
    color: rgb(161, 161, 161);
    font-weight:520;
    font-size: 1rem;
  }
 
  .search{
    /* width: 100%; */
    text-align: center;
    border: none;
    outline: none;
}


.btn
{
    border-radius: 45px 0px 0px 0px ;
    width: 10rem;
    height: 2.6rem;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: rgb(248, 10, 62);
    border: none;
}

.btn:hover{
    cursor: pointer;
    background-color:  rgb(248, 10, 62);
    
}

.btn:focus{
   box-shadow: 5px 5px 5px rgb(94, 99, 94);
   transform: scale(110%);
}
